.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-header a, .App-header a:visited {
  color: white;
}
.App-header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.App-header ul li {
  list-style-type: none;
  color: white;
  padding: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
